a:link {color: rgba(0,0,0,.87);}      /* unvisited link */
       a:visited {color: rgba(0,0,0,.87);}   /* visited link */
       a:hover {color: rgba(0,0,0,.87);}     /* mouse over link */
       a:active {color: rgba(0,0,0,.87);}    /* selected link */

a {
    outline: none;
}