<p>
  Lyriquiz is an API mashup game built by
  <a href="https://github.com/qurridutt" target="_blank">Adam Hermansson</a>,
  <a href="https://github.com/johniversen" target="_blank">John Iversen</a>,
  <a href="https://github.com/danielwikander" target="_blank">Daniel Wikander</a> and
  <a href="https://github.com/davidnjohansson" target="_blank">David Johansson</a>
  at Malmö University in the fall of 2018.
</p>
<p>It consumes two public APIs, Spotify and APISeeds. The objective is to pick the correct artist based on the lyrics.</p>
<p>Get together with your friends and create some teams and see who's the better at recognizing lyrics.</p>
<p>Good Luck! 🏆</p>