.container {
    overflow-x: auto; 
    overflow-y: hidden;
}
  .pyro > .before, .pyro > .after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  }
  
  .pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
  }
  
  @-webkit-keyframes bang {
    to {
      box-shadow: -81px -179.6666666667px #ff0d00, 130px -44.6666666667px #00c8ff, -126px -43.6666666667px #00ff6f, -131px 44.3333333333px #ff4800, 148px -309.6666666667px #ff007b, -178px -70.6666666667px #ffc800, -7px -338.6666666667px #33ff00, -170px -146.6666666667px #00ff88, -37px -356.6666666667px #00ff51, -9px -25.6666666667px #00ffd9, -224px -83.6666666667px #0095ff, -172px -217.6666666667px #37ff00, 200px -336.6666666667px #d000ff, -120px -377.6666666667px #00ff95, -69px -375.6666666667px #5e00ff, 60px 36.3333333333px #59ff00, -100px 24.3333333333px #ffe600, -18px -47.6666666667px #ff0037, -141px 49.3333333333px #ff0033, 48px -153.6666666667px #1100ff, 248px -65.6666666667px #ffd500, -97px 65.3333333333px #eaff00, 192px -228.6666666667px #00ff26, 34px -48.6666666667px #1e00ff, 1px -323.6666666667px #3300ff, -56px -36.6666666667px #0022ff, 219px -53.6666666667px #fbff00, -76px -267.6666666667px lime, 101px -351.6666666667px #ff6600, 77px -366.6666666667px #00fbff, 197px 82.3333333333px #007bff, -61px -135.6666666667px #2600ff, -217px 30.3333333333px #00ff40, 191px 68.3333333333px #99ff00, 203px -134.6666666667px #00ff22, -247px -347.6666666667px #ff00d0, -4px -149.6666666667px #0d00ff, -127px -383.6666666667px #33ff00, -95px -44.6666666667px #8cff00, -84px -299.6666666667px #a200ff, 167px -199.6666666667px #0048ff, -52px -391.6666666667px #ff3700, -222px -182.6666666667px #ff8800, -170px -389.6666666667px #1500ff, 210px 15.3333333333px #00ff0d, 136px -72.6666666667px #ccff00, -92px -290.6666666667px #ff8800, 26px 28.3333333333px #ffb700, -177px -194.6666666667px #ff0059, -97px 81.3333333333px #00f2ff, -133px -157.6666666667px #7b00ff;
    }
  }
  @-moz-keyframes bang {
    to {
      box-shadow: -81px -179.6666666667px #ff0d00, 130px -44.6666666667px #00c8ff, -126px -43.6666666667px #00ff6f, -131px 44.3333333333px #ff4800, 148px -309.6666666667px #ff007b, -178px -70.6666666667px #ffc800, -7px -338.6666666667px #33ff00, -170px -146.6666666667px #00ff88, -37px -356.6666666667px #00ff51, -9px -25.6666666667px #00ffd9, -224px -83.6666666667px #0095ff, -172px -217.6666666667px #37ff00, 200px -336.6666666667px #d000ff, -120px -377.6666666667px #00ff95, -69px -375.6666666667px #5e00ff, 60px 36.3333333333px #59ff00, -100px 24.3333333333px #ffe600, -18px -47.6666666667px #ff0037, -141px 49.3333333333px #ff0033, 48px -153.6666666667px #1100ff, 248px -65.6666666667px #ffd500, -97px 65.3333333333px #eaff00, 192px -228.6666666667px #00ff26, 34px -48.6666666667px #1e00ff, 1px -323.6666666667px #3300ff, -56px -36.6666666667px #0022ff, 219px -53.6666666667px #fbff00, -76px -267.6666666667px lime, 101px -351.6666666667px #ff6600, 77px -366.6666666667px #00fbff, 197px 82.3333333333px #007bff, -61px -135.6666666667px #2600ff, -217px 30.3333333333px #00ff40, 191px 68.3333333333px #99ff00, 203px -134.6666666667px #00ff22, -247px -347.6666666667px #ff00d0, -4px -149.6666666667px #0d00ff, -127px -383.6666666667px #33ff00, -95px -44.6666666667px #8cff00, -84px -299.6666666667px #a200ff, 167px -199.6666666667px #0048ff, -52px -391.6666666667px #ff3700, -222px -182.6666666667px #ff8800, -170px -389.6666666667px #1500ff, 210px 15.3333333333px #00ff0d, 136px -72.6666666667px #ccff00, -92px -290.6666666667px #ff8800, 26px 28.3333333333px #ffb700, -177px -194.6666666667px #ff0059, -97px 81.3333333333px #00f2ff, -133px -157.6666666667px #7b00ff;
    }
  }
  @-o-keyframes bang {
    to {
      box-shadow: -81px -179.6666666667px #ff0d00, 130px -44.6666666667px #00c8ff, -126px -43.6666666667px #00ff6f, -131px 44.3333333333px #ff4800, 148px -309.6666666667px #ff007b, -178px -70.6666666667px #ffc800, -7px -338.6666666667px #33ff00, -170px -146.6666666667px #00ff88, -37px -356.6666666667px #00ff51, -9px -25.6666666667px #00ffd9, -224px -83.6666666667px #0095ff, -172px -217.6666666667px #37ff00, 200px -336.6666666667px #d000ff, -120px -377.6666666667px #00ff95, -69px -375.6666666667px #5e00ff, 60px 36.3333333333px #59ff00, -100px 24.3333333333px #ffe600, -18px -47.6666666667px #ff0037, -141px 49.3333333333px #ff0033, 48px -153.6666666667px #1100ff, 248px -65.6666666667px #ffd500, -97px 65.3333333333px #eaff00, 192px -228.6666666667px #00ff26, 34px -48.6666666667px #1e00ff, 1px -323.6666666667px #3300ff, -56px -36.6666666667px #0022ff, 219px -53.6666666667px #fbff00, -76px -267.6666666667px lime, 101px -351.6666666667px #ff6600, 77px -366.6666666667px #00fbff, 197px 82.3333333333px #007bff, -61px -135.6666666667px #2600ff, -217px 30.3333333333px #00ff40, 191px 68.3333333333px #99ff00, 203px -134.6666666667px #00ff22, -247px -347.6666666667px #ff00d0, -4px -149.6666666667px #0d00ff, -127px -383.6666666667px #33ff00, -95px -44.6666666667px #8cff00, -84px -299.6666666667px #a200ff, 167px -199.6666666667px #0048ff, -52px -391.6666666667px #ff3700, -222px -182.6666666667px #ff8800, -170px -389.6666666667px #1500ff, 210px 15.3333333333px #00ff0d, 136px -72.6666666667px #ccff00, -92px -290.6666666667px #ff8800, 26px 28.3333333333px #ffb700, -177px -194.6666666667px #ff0059, -97px 81.3333333333px #00f2ff, -133px -157.6666666667px #7b00ff;
    }
  }
  @-ms-keyframes bang {
    to {
      box-shadow: -81px -179.6666666667px #ff0d00, 130px -44.6666666667px #00c8ff, -126px -43.6666666667px #00ff6f, -131px 44.3333333333px #ff4800, 148px -309.6666666667px #ff007b, -178px -70.6666666667px #ffc800, -7px -338.6666666667px #33ff00, -170px -146.6666666667px #00ff88, -37px -356.6666666667px #00ff51, -9px -25.6666666667px #00ffd9, -224px -83.6666666667px #0095ff, -172px -217.6666666667px #37ff00, 200px -336.6666666667px #d000ff, -120px -377.6666666667px #00ff95, -69px -375.6666666667px #5e00ff, 60px 36.3333333333px #59ff00, -100px 24.3333333333px #ffe600, -18px -47.6666666667px #ff0037, -141px 49.3333333333px #ff0033, 48px -153.6666666667px #1100ff, 248px -65.6666666667px #ffd500, -97px 65.3333333333px #eaff00, 192px -228.6666666667px #00ff26, 34px -48.6666666667px #1e00ff, 1px -323.6666666667px #3300ff, -56px -36.6666666667px #0022ff, 219px -53.6666666667px #fbff00, -76px -267.6666666667px lime, 101px -351.6666666667px #ff6600, 77px -366.6666666667px #00fbff, 197px 82.3333333333px #007bff, -61px -135.6666666667px #2600ff, -217px 30.3333333333px #00ff40, 191px 68.3333333333px #99ff00, 203px -134.6666666667px #00ff22, -247px -347.6666666667px #ff00d0, -4px -149.6666666667px #0d00ff, -127px -383.6666666667px #33ff00, -95px -44.6666666667px #8cff00, -84px -299.6666666667px #a200ff, 167px -199.6666666667px #0048ff, -52px -391.6666666667px #ff3700, -222px -182.6666666667px #ff8800, -170px -389.6666666667px #1500ff, 210px 15.3333333333px #00ff0d, 136px -72.6666666667px #ccff00, -92px -290.6666666667px #ff8800, 26px 28.3333333333px #ffb700, -177px -194.6666666667px #ff0059, -97px 81.3333333333px #00f2ff, -133px -157.6666666667px #7b00ff;
    }
  }
  @keyframes bang {
    to {
      box-shadow: -81px -179.6666666667px #ff0d00, 130px -44.6666666667px #00c8ff, -126px -43.6666666667px #00ff6f, -131px 44.3333333333px #ff4800, 148px -309.6666666667px #ff007b, -178px -70.6666666667px #ffc800, -7px -338.6666666667px #33ff00, -170px -146.6666666667px #00ff88, -37px -356.6666666667px #00ff51, -9px -25.6666666667px #00ffd9, -224px -83.6666666667px #0095ff, -172px -217.6666666667px #37ff00, 200px -336.6666666667px #d000ff, -120px -377.6666666667px #00ff95, -69px -375.6666666667px #5e00ff, 60px 36.3333333333px #59ff00, -100px 24.3333333333px #ffe600, -18px -47.6666666667px #ff0037, -141px 49.3333333333px #ff0033, 48px -153.6666666667px #1100ff, 248px -65.6666666667px #ffd500, -97px 65.3333333333px #eaff00, 192px -228.6666666667px #00ff26, 34px -48.6666666667px #1e00ff, 1px -323.6666666667px #3300ff, -56px -36.6666666667px #0022ff, 219px -53.6666666667px #fbff00, -76px -267.6666666667px lime, 101px -351.6666666667px #ff6600, 77px -366.6666666667px #00fbff, 197px 82.3333333333px #007bff, -61px -135.6666666667px #2600ff, -217px 30.3333333333px #00ff40, 191px 68.3333333333px #99ff00, 203px -134.6666666667px #00ff22, -247px -347.6666666667px #ff00d0, -4px -149.6666666667px #0d00ff, -127px -383.6666666667px #33ff00, -95px -44.6666666667px #8cff00, -84px -299.6666666667px #a200ff, 167px -199.6666666667px #0048ff, -52px -391.6666666667px #ff3700, -222px -182.6666666667px #ff8800, -170px -389.6666666667px #1500ff, 210px 15.3333333333px #00ff0d, 136px -72.6666666667px #ccff00, -92px -290.6666666667px #ff8800, 26px 28.3333333333px #ffb700, -177px -194.6666666667px #ff0059, -97px 81.3333333333px #00f2ff, -133px -157.6666666667px #7b00ff;
    }
  }
  @-webkit-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-moz-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-o-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-ms-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-webkit-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-moz-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-o-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-ms-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  
.list-group-item {
    margin-top: 25%;
    margin-left: 25%;
    width: 50%;
    font-size: 32px;
    text-align: center;
}

.play {
  margin-top: 35px;
  background-color: white;
  border: none;
}