<div class="container text-center">
  <div *ngIf="question; else loading">
    <div class="row">
      <div class="col-6" *ngFor="let artist of artists">
        <div class="card w-90">
          <img class="card-img-top artist-img" alt="Artist avatar" [src]="artist.Photo" (click)="onAnswer(artist.Artist)">
          <p class="card-title">
            {{ artist.Artist }}
          </p>
        </div>
      </div>
    </div>
    <div class="row row-skip">
      <div class="col-12 col-skip">
        <button class="btn btn-lg btn-skip" type="button" (click)="onSkip()">Skip</button>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <div class="mat-spinner">
      <mat-spinner [diameter]="100" class="mat-spinner-color"></mat-spinner>
    </div>
  </ng-template>
</div>