<div class="container text-center">
  <div *ngIf="question; else loading">
    <div class="row">
      <div class="col-6" *ngFor="let artist of artists">
        <div class="card w-90">
          <img class="card-img-top artist-img" alt="Artist avatar" [src]="artist.Photo" (click)="onAnswer(artist.Artist)">
          <p class="card-title">
            {{ artist.Artist }}
          </p>
        </div>

      </div>
    </div>
  </div>

  <ng-template #loading>
    <div class="loader">
      <div class="inner one"></div>
      <div class="inner two"></div>
      <div class="inner three"></div>
    </div>
  </ng-template>
</div>