.mat-spinner {
  margin: 0 auto;
  margin-top: 200px;
}

.mat-spinner-color::ng-deep circle {
  stroke: white !important;
}

.col-6 {
    padding: 5px;
}
.card {
    height: 250px;
    cursor: pointer;
    background-color: #373854;
    border-radius: 10px;
}
.artist-img {
    object-fit: cover;
    height: 100%;
    transition: all .25s ease-out;
    filter: grayscale(0%);
    border-radius: 10px;
}

.card-title {
    visibility: hidden;
}

.artist-img:hover {
    filter: grayscale(100%) blur(2px) brightness(0.7);
    
}

.card:hover .card-title {
    transition: all .40s ease-out;
    visibility: visible;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 44px;
    color: white;
    pointer-events: none;

    }

.row-skip {
  margin-top: 30px;
  margin-bottom: 30px;
}

.col-skip {
  text-align: center;
}

.btn-skip {
  background-color: white;
  border: none;
}